<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> 送水后台管理系统</title>
    <link rel="icon" href="https://jscdn.com.cn/highcharts/images/favicon.ico">

    <!--Bootstrap固定框架-->
    <link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
    <link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.css}">
    <!--图标库-->
    <link rel='stylesheet' th:href='@{/css/material-design-iconic-font.min.css}'>
    <!--核心样式-->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<div id="viewport">

    <!-- Sidebar -->
    <div id="sidebar" th:replace="waterMainMenu::sidebar">

    </div>

    <!-- Content -->
    <div id="content">
        <nav class="navbar navbar-default" th:replace="waterMainMenu::navbar">

        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" method="post" th:action="@{/history/saveHis}" >
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">送水工名称</label>
                            <div class="col-sm-5">
                                <select name="workerId" class="form-control">
                                    <!--                                    遍历每一个送水工选择-->
                                    <option th:each="worker : ${workerList}"
                                            th:value="${worker.wid}"
                                            th:text="${worker.workerName}"/>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-sm-2 control-label">送水时间</label>
                            <div class="col-sm-5">
                                <input type="date" class="form-control"
                                       name="sendWaterTime"  placeholder="送水时间">
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-sm-2 control-label">客户名称</label>
                            <div class="col-sm-5">
                                <!--   以下拉列表框的形式展示所有的客户信息，实际的值是客户ID，显示的文本是客户名称-->
                                <select name="custId" class="form-control">
                                    <!--                                    遍历客户信息-->
                                    <option th:each="cust : ${custList}"
                                            th:value="${cust.cid}"
                                            th:text="${cust.custName}"/>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label  class="col-sm-2 control-label">送水数量</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control"
                                       name="sendWaterCount"  placeholder="送水数量"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-5">
                                <input type="submit" class="btn btn-primary" name="submit"  value="提交">
                                &nbsp;&nbsp;
                                <input type="reset" class="btn btn-warning" name="reset"  value="取消">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>
