<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> 送水后台管理系统</title>
    <link rel="icon" href="https://jscdn.com.cn/highcharts/images/favicon.ico">

    <!--Bootstrap固定框架-->
    <link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
    <link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.css}">
    <!--图标库-->
    <link rel='stylesheet' th:href='@{/css/material-design-iconic-font.min.css}'>
    <!--核心样式-->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
        .myWorkerImage{
            width:100px;
            height:100px;
            border:1px solid red;
        }
    </style>
</head>
<body>

<div id="viewport">

    <!-- Sidebar -->
    <div id="sidebar" th:replace="waterMainMenu::sidebar">

    </div>

    <!-- Content -->
    <div id="content">
        <nav class="navbar navbar-default" th:replace="waterMainMenu::navbar">

        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12"><!--enctype="multipart/form-data"一定要写 否则修改图片会失败-->
                    <form class="form-horizontal" enctype="multipart/form-data" method="post" th:action="@{/worker/updateWorker}" >
                        <input type="hidden" name="wid" th:value="${worker.wid}"/>
                        <input type="hidden" name="workerImage" th:value="${worker.workerImage}"/>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">送水工名称</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control"
                                       name="workerName" th:value="${worker.workerName}"  placeholder="送水工名称">
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-sm-2 control-label">送水工底薪</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control"
                                       name="workerSalary" th:value="${worker.workerSalary}" placeholder="送水工底薪">
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-sm-2 control-label">送水工提成</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control"
                                       name="workerMoney" th:value="${worker.workerMoney}" placeholder="联系方式">
                            </div>
                        </div>
                        <div class="form-group" >
                            <label  class="col-sm-2 control-label">送水工照片</label>
                            <div class="col-sm-3">
                                <!--上传照片-->
                                <input type="file" class="form-control" name="file"/>
                            </div>
                            <!--显示之前上传的送水工照片-->
                            <div class="col-sm-2">
                                <!--照片非空的情况下显示已上传的照片-->
                                <img th:if="${not #strings.isEmpty(worker.workerImage)}"
                                     th:src="'http://localhost:8088/'+${worker.workerImage}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-5">
                                <input type="submit" class="btn btn-primary" name="submit"  value="提交">
                                &nbsp;&nbsp;
                                <input type="reset" class="btn btn-warning" name="reset"  value="取消">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>