<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> 送水后台管理系统</title>
    <link rel="icon" href="https://jscdn.com.cn/highcharts/images/favicon.ico">

    <!--Bootstrap固定框架-->
    <link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
    <link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.css}">
    <!--图标库-->
    <link rel='stylesheet' th:href='@{/css/material-design-iconic-font.min.css}'>
    <!--核心样式-->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<div id="viewport">

    <!-- Sidebar -->
    <div id="sidebar" th:replace="waterMainMenu::sidebar">

    </div>

    <!-- Content -->
    <div id="content">
        <nav class="navbar navbar-default" th:replace="waterMainMenu::navbar">

        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" enctype="multipart/form-data"
                          method="post" th:action="@{/worker/workerSave}" >
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">送水工名称</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control"
                                       name="workerName"  placeholder="送水工名称">
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-sm-2 control-label">送水工底薪</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control"
                                       name="workerSalary"  placeholder="送水工底薪">
                            </div>
                        </div>

                        <div class="form-group" >
                            <label  class="col-sm-2 control-label">送水工提成</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control"
                                       name="workerMoney"  placeholder="送水工提成">
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-sm-2 control-label">送水工照片</label>
                            <div class="col-sm-5">
                                <input type="file"  class="form-control" name="file">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-5">
                                <input type="submit" class="btn btn-primary" name="submit"  value="提交">
                                &nbsp;&nbsp;
                                <input type="reset" class="btn btn-warning" name="reset"  value="取消">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

</body>
</html>